export(HSCtest)
export(asimcindex)
export(clusterList)
export(controlFWER)
export(diagnostics)
export(hc)
export(icovest)
export(meigval)
export(mpval)
export(mpvalnorm)
export(msimeigval)
export(nsim)
export(raw.data)
export(vsimbackvar)
export(xmcindex)
exportClasses(hsigclust)
exportMethods(controlFWER)
exportMethods(diagnostics)
exportMethods(plot)
exportMethods(print)
exportMethods(show)
exportMethods(summary)
import(dplyr)
import(ggdendro)
import(ggplot2)
import(sigclust)
importFrom(grid,unit)
